<div style="height: 100vh; background-color: rgba(255,0,0,.1);">
<div class= 'd-flex flex-column align-items-center flex-grow-1'>
 <h1 class="text-primary">Welcome to the Home page</h1>
<div><%=link_to 'Kinyuas Blog Page',articles_path%> || <%=link_to 'About Blog Page',about_path%> </div>
</div> 
</div>